extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        +box-head("Chat")

    .row
      .col-12
        .chat(my-id=user.id)
            .inner-body
                    each item in chats
                        div(class=(item.user_id == user.id ? "inner-outgoing": "inner-incoming"))
                            if(item.user_id != user.id)
                                .inner-name #{item.infoUser.fullName}             
                            .inner-content #{item.content}
                                
            .inner-foot
                form(
                    class="inner-form"
                    action=""
                    )
                    input(
                        type="text"
                        placeholder="Nhập nội dung..."
                        name="content"
                    )
                    span(class="button-icon") 
                        i.fa-regular.fa-face-smile
                        .tooltip(role='tooltip') 
                            emoji-picker(class='light')
                    button
                        i.fa-solid.fa-paper-plane
                    
                    

    
